# Added because storybook was requiring react 17 and not 18. But the new version that supports 18 isn't out yet. That's not a problem since storybook isn't an important package for this project
legacy-peer-deps=true
