@layer components {
  /* These are base stylings to create a dropdown for an INPUT
     It's for input only and shouldn't be use for other types of dropdown */

  .pui-dropdown-input-container {
    /* Allows for the icon to be placed in the right side, and adds a padding */
    /* Adds the "angle down" icon */
    /* Animate on hover */
    /* Turn on relative positioning so the options can be absolute */
    /* Cursor pointer */
    @apply pui-absolute-icon-right-padded pui-icon-angle-down pui-animate-scaleHover relative cursor-pointer pui-scrollbar;

    &.open {
      :first-child {
        @apply border-b-0 rounded-b-none;
      }
    }

    :first-child {
      /* Puts the input in front of the dropdown */
      @apply z-20;
    }

    /* &:after here is the icon */
    &:after {
      /* Apply the base scale hover css */
      @apply pui-animate-scaleHover-target-base;
    }

    &:hover {
      &:after {
        /* Apply the base scale hover css */
        @apply pui-animate-scaleHover-target-base-hover;
      }
    }

    &:active {
      &:after {
        /* Apply the base scale hover css */
        @apply pui-animate-scaleHover-target-base-active;
      }
    }
  }

  .pui-dropdown-input-options {
    /* Remove list styling */
    /* Have its position absolute relative to the container */
    /* Don't add any vertical margin */
    /* Auto margin horizontal to help with centering */
    /* Adds the same border as the input */
    /* Adds a background shadow */
    /* Default overflow vertically */
    /* Hides overflow horizontally */
    /* Style the scrollbar */
    /* Adds a minor padding */
    /* Removes the border top since it's right up the input */
    /* Removes the rounded corner top since it's right up the input */
    /* Puts it in front of the page but inder the input */
    /* Animate it down on display */
    @apply list-none absolute my-0 mx-auto pui-text-input-border shadow-lg overflow-y-auto overflow-x-hidden py-2 px-0 border-t-0 rounded-t-none z-10 pui-animate-fadeDown w-full;

    animation-duration: 200ms;

    min-height: 180px;
    max-height: 225px;
  }

  .pui-dropdown-input-item {
    /* Allow for colors to transition */
    /* Adds a minor padding */
    @apply transition-colors px-2 py-4;

    /* On hover */
    &:hover {
      /* Changes the text color */
      /* Changes the font */
      /* Highlights the background */
      @apply text-pui-secondary font-semibold bg-gray-100;
    }
  }
}
