@layer components {
  .pui-chip {
    /* Make it rounded */
    /* Adds a border(even though the border is the same color as the background, we need it so the buttons are better aligned against the bordered variant) */
    /* Add the chip padding */
    /* !!! If changing this style, make sure to test it with the pui-btn too !!! */
    @apply rounded-3xl border-2 px-4 py-1;
    text-align: center;
  }

  /* A helper to transform a button in a chip */
  .pui-chip-btn {
    /* Use the chip class */
    @apply pui-chip;

    /* Reset button class */
    height: auto;
    line-height: normal;
  }

  /* The default variant */
  .pui-chip-default {
    /* The text color */
    @apply pui-chip text-paragraph-0;

    /* Sets the colors */
    border-color: var(--pui-placeholder-color, var(--pui-primary));
    background-color: var(--pui-placeholder-color, var(--pui-primary));
  }

  /* The bordered variant */
  .pui-chip-bordered {
    /* Adds a border */
    @apply pui-chip border-solid;

    /* Remove the background since this is an outline button */
    background-color: transparent;

    /* Sets the colors */
    border-color: var(--pui-placeholder-color, var(--pui-primary));
    color: var(--pui-placeholder-color, var(--pui-primary));
  }
}
