@layer components {
  /* Keyframes for these animations are added in the default preset */

  .pui-animate-fadeIn {
    animation: fadeIn 0.5s ease-out 0s both;
    opacity: 0;
  }

  .pui-animate-fadeUp {
    animation: fadeInto 0.5s ease-out 0s both;
    opacity: 0;
    transform: translateY(1rem);
  }

  .pui-animate-fadeDown {
    animation: fadeInto 0.5s ease-out 0s both;
    opacity: 0;
    transform: translateY(-1rem);
  }

  .pui-animate-scaleHover {
    .pui-animate-scaleHover-target {
      transition: transform 100ms ease-out;
    }

    &:hover {
      .pui-animate-scaleHover-target {
        transform: scale(1.2);
      }
    }

    &:active {
      .pui-animate-scaleHover-target {
        transition: transform 20ms ease-in;
        transform: scale(1);
      }
    }
  }
}
